@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1>@Model.name</h1>
    <h1>Owner: @Model.owner</h1>
    <h1>Age: @Model.ownerAge</h1>
    <h1>Rating: @Model.rating</h1>
    @* <h1>Random Number: @Model</h1> *@

</div>
